@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
  src: url("../fonts/Roboto-Blackitalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  src: url("../fonts/Roboto-Bolditalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Italic.ttf") format("ttf");
  src: url("../fonts/Roboto-Light.ttf") format("ttf");
  src: url("../fonts/Roboto-Lightitalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  src: url("../fonts/Roboto-Mediumitalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  src: url("../fonts/Roboto-Thin.ttf") format("ttf");
  src: url("../fonts/Roboto-Thinitalic.ttf") format("ttf");
  font-display: swap;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3% 0 5%;
  height: 135px;
}

.logo, .contact__phone {
  display: flex;
  align-items: center;
  padding-top: 1%;
}

.logo__text {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 10%;
}

.contacts__address-svg, .contact__email-svg {
  position: relative;
  top: 2px;
}

.contact__mail_address, .contact__email {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -1px;
}

.contact__link {
  color: black;
  text-decoration: none;
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__phone {
  padding: 0;
  width: 22em;
}

.contact__phone_number {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 4%;
}

.header__nav_wrapper {
  background-color: #393031;
  display: flex;
  justify-content: flex-end;
  padding: 0 7%;
}

.header__nav-mobile {
  display: none;
  background-color: #148778;
  position: absolute;
  top: 0;
  left: -15em;
  transition: all ease-in 0.2s;
  height: 0;
  width: 120px;
  z-index: 2;
}

.show {
  display: block;
  left: 2%;
  padding: 6% 2% 7% 3%;
  height: 330px;
}

.header__nav-arrow {
  background: none;
  fill: #148778;
  position: absolute;
  left: 16em;
  top: 0;
  transition: all ease-in 0.2s;
  z-index: 100;
}

.header__list_item-mobile {
  display: block;
  opacity: 0;
  list-style: none;
  transition: all ease-in 0.2s;
}

.on {
  display: block;
  opacity: 1;
  margin-top: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  height: 43px;
  width: 840px;
}

.header__list_item {
  line-height: 50px;
  list-style: none;
  text-align: center;
  width: 40%;
}

.header__sub_list_item {
  line-height: 1.2;
  margin-top: 15px;
  text-align: left;
  width: 100%;
}

.header__link:hover {
  color: gray;
}

.header__nav_production {
  background-color: #393031;
  display: none;
  padding-right: 5%;
  padding-bottom: 3%;
  position: absolute;
  top: 90%;
  left: 39%;
  z-index: 1;
}

.have_a_submenu:hover + .header__nav_production {
  display: block;
}

.header__nav_production:hover {
  display: block;
}

.header__link {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  color: white;
  text-decoration: none;
}

.header__media {
  position: relative;
}

.header__text {
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  bottom: 31%;
  left: 20%;
}

.header__image {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .header__text {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1300px) {
  .logo__svg {
    width: 21em;
    font-size: 1.2vw;
  }

  .contact__mail_address, .contact__email {
    font-size: 1.5vw;
  }

  .contact__phone {
    font-size: 1.5vw;
    justify-content: flex-end;
    width: 17em;
  }

  .contact__phone_svg {
    width: 5.3vw;
  }

  .contact__phone_number {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 1024px) {
  .header__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  .contact__mail_address, .contact__email {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 855px) {
  .header__media {
    position: relative;
    top: -5px;
    background: url("../img/contacts/header_img_mobile.jpg") no-repeat center;
    background-size: contain;
    font-size: 5.1vw;
    height: 6.91em;
    z-index: -1;
  }

  .header__image {
    display: none;
  }

  .header__text {
    color: white;
    bottom: 15%;
  }
}
@media screen and (max-width: 800px) {
  .header__link {
    font-size: 18px;
  }

  .contacts {
    margin-left: 0;
  }
}
@media screen and (max-width: 780px) {
  .contact__mail_address, .contact__email {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .logo__svg {
    width: 21em;
    font-size: 14px;
  }

  .contacts {
    align-items: center;
  }

  .contact__phone {
    font-size: 15px;
    justify-content: center;
    width: 12em;
  }

  .contact__phone_number {
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  .header__nav-mobile {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }

  .header__nav-mobile {
    display: block;
  }

  .header__list_item {
    display: none;
  }

  .header__text {
    font-size: 16px;
  }

  .contacts {
    align-items: center;
  }

  .contact__phone_number {
    font-size: 18px;
  }

  .contact__phone {
    width: 14em;
  }
}
@media screen and (max-width: 410px) {
  .header {
    align-items: flex-end;
    padding: 0 4% 0 1%;
  }

  .logo__svg {
    font-size: 10px;
  }

  .contacts {
    align-items: flex-end;
  }

  .contact__phone {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 285px) {
  .logo__svg {
    font-size: 8px;
  }

  .contact__mail_address, .contact__email {
    font-size: 12px;
  }
}
.header__nav-arrow-open {
  background-color: #148778;
  fill: white;
  left: 71%;
  top: 5%;
  transform: rotate(180deg);
}

.partners__text {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0 0 2% 0;
  text-align: center;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2% auto;
  width: 90%;
}

.partners__svg {
  margin: 2% 1%;
}

.partners__svg-size {
  width: 110px;
}

@media screen and (max-width: 855px) {
  .partners__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 60px) {
  .partners__text {
    font-size: 14px;
  }
}
.price_download {
  background-color: #e8e4e3;
  height: 140px;
  margin-bottom: 7%;
  position: relative;
}

.price_download__color_line {
  position: absolute;
  top: -5px;
  width: 100%;
}

.price_download__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.price_download__text {
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #00a890;
  margin-right: 3%;
}

.price_download__button {
  font-family: Roboto, sans-serif;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
  background: #d67514;
  background: linear-gradient(180deg, #d67514 50%, #b23a2c 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 1px 8px 12px grey;
  color: white;
  cursor: pointer;
  transition: all ease-in 0.1s;
  height: 60px;
  width: 345px;
}

.price_download__button:hover {
  transform: scale(1.02);
  box-shadow: 3px 8px 8px grey;
}

.price_download__button:active {
  transform: scale(0.98);
  box-shadow: 3px 3px 3px grey;
}

@media screen and (max-width: 1050px) {
  .price_download {
    background-color: #e8e4e3;
    height: auto;
    padding: 0 0 5% 0;
    margin-bottom: 3%;
  }

  .price_download__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .price_download__text {
    margin: 3% 0 3% 0;
  }
}
@media screen and (max-width: 1024px) {
  .price_download {
    margin-bottom: 8%;
  }
}
@media screen and (max-width: 736px) {
  .price_download__text {
    font-size: 27px;
  }
}
@media screen and (max-width: 700px) {
  .price_download__container {
    height: unset;
  }

  .price_download__text {
    font-size: 4vw;
  }

  .price_download__button {
    font-size: 3.3vw;
    padding: 2% 5%;
    height: unset;
    width: unset;
  }
}
@media screen and (max-width: 667px) {
  .price_download__text {
    font-size: 3.6vw;
  }
}
@media screen and (max-width: 500px) {
  .price_download__container {
    padding: 0 2%;
  }

  .price_download__text {
    font-size: 3.6vw;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .price_download__text {
    font-size: 16px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #393031;
  margin-top: 4%;
}

.footer__left {
  margin-left: 7%;
}

.footer__company_name {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -1px;
  color: white;
  line-height: 1.5;
  width: 20em;
  margin-left: 4%;
  margin-bottom: 7%;
}

.footer__nav_menu {
  padding: 0;
}

.footer__nav_menu-left {
  margin-left: 6%;
  line-height: 1.4;
}

.footer__item {
  list-style: none;
}

.footer__link {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__nav_menu-center {
  margin-top: 10%;
  line-height: 1.4;
}

.footer__right {
  margin-right: 10%;
}

.footer__contact_data {
  margin-left: 15%;
  width: 15em;
}

.footer__address, .footer__contact {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
}

.footer__contact {
  margin: 9% 0 0 0;
}

.footer__address {
  position: relative;
  margin: 2% 0 1% 0;
  line-height: 1.4;
}

.sign {
  position: absolute;
  top: 3%;
  left: -10%;
}

.footer__email {
  position: relative;
  margin: 0 0 1% 0;
}

.mail-sign {
  position: absolute;
  top: 26%;
  left: -11%;
}

.footer__phone {
  position: relative;
  margin: 0 0 0 0;
}

.phone-sign {
  position: absolute;
  top: 3%;
  left: -10%;
}

@media screen and (max-width: 1150px) {
  .footer {
    justify-content: center;
    padding: 0 5% 5% 5%;
  }

  .footer__left {
    margin: 0;
  }

  .footer__company_name {
    width: 12em;
  }

  .footer__center {
    margin-left: 10%;
  }

  .footer__right {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 1150px) {
  .footer {
    padding: 0 5% 1% 5%;
  }
}
@media screen and (max-width: 641px) {
  .footer__contact_data, .footer__company_name, .footer__nav_menu-left, .footer__center {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .footer__left, .footer__center {
    display: none;
  }

  .footer__contact_data {
    width: 16em;
  }

  .footer__right {
    margin: 0 0 8% 11%;
  }
}
@media screen and (max-width: 565px) {
  .footer {
    justify-content: flex-start;
    padding-left: 28%;
  }

  .footer__center {
    margin-right: 6%;
  }

  .footer__right {
    margin-left: 0;
  }

  .footer__item {
    margin-top: 5%;
  }

  .footer__contact_data {
    font-size: 3.5vw;
  }

  .footer__company_name, .footer__link, .footer__contact, .footer__address {
    font-size: 3.5vw;
  }

  .footer_svg {
    width: 3.5vw;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding-left: 29%;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.slider {
  position: relative;
}

.slider__img {
  display: block;
  border: 0;
  filter: saturate(1.2);
  height: auto;
  width: 100%;
}

.slider__text {
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-weight: 700;
  letter-spacing: 4px;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 6%;
  text-shadow: 4px 4px 4px black;
  transform: translateX(-50%);
  width: 25em;
  z-index: 1;
}

.slider__gradient {
  position: absolute;
  font-size: 10px;
  background: black;
  background: linear-gradient(0deg, black 0%, rgba(255, 255, 255, 0) 100%);
  bottom: 0;
  left: 0;
  opacity: 0.8;
  height: 13em;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .slider__gradient {
    font-size: 0.7vw;
  }
}
@media screen and (max-width: 1280px) {
  .slider__text {
    bottom: 5%;
    font-size: 27px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .slider__text {
    font-size: 22px;
    width: 39em;
  }
}
@media screen and (max-width: 800px) {
  .slider__text {
    font-size: 2vw;
  }
}
@media screen and (max-width: 600px) {
  .slider__text {
    font-size: 2.5vw;
  }
}
.text_block {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.text_block__header, .text_block__content {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  color: black;
  margin-bottom: 2%;
  text-align: justify;
}

.text_block__content {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0;
  color: black;
  margin-bottom: 2%;
  text-align: justify;
}

.text_block__content-centred {
  font-size: 22px;
  margin: 45px auto 45px auto;
  text-align: center;
}

.text_block__content-size {
  font-size: 21px;
  line-height: 1.4;
  margin-top: -11px;
}

@media screen and (max-width: 1280px) {
  .text_block__content-centred {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .text_block__content-size {
    font-size: 21px;
  }
}
@media screen and (max-width: 700px) {
  .text_block__header, .text_block__content {
    font-size: 18px;
    margin: 3% 0 2% 0;
    width: unset;
  }

  .text_block__content-centred {
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .text_block__header, .text_block__content {
    text-align: justify;
  }

  .text_block__header, .text_block__content {
    font-size: 3vw;
  }

  .text_block__content-centred {
    text-align: center;
    margin-top: 5%;
  }
}
@media screen and (max-width: 400px) {
  .text_block__header, .text_block__content {
    font-size: 14px;
  }
}
.nav_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6% auto;
  width: 100%;
}

.nav_links img {
  display: block;
  border: 0;
  height: auto;
  width: 100%;
}

.nav_links__button {
  position: relative;
  box-shadow: 4px 4px 6px gray;
  margin: 7px;
  transition: all ease-in 0.1s;
}

.nav_link__container {
  display: none;
}

.nav_links__button:hover {
  transform: scale(1.01);
  box-shadow: 6px 6px 8px gray;
}

.nav_links__button__img {
  filter: saturate(1.2);
}

.nav_links__item {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  padding: 8em 0 2% 3%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
  transition: all ease-in 0.1s;
}

.nav_links__item:hover {
  transform: scale(1.01);
  text-shadow: 3px 3px 5px black;
}

.nav_links__item-third {
  padding: 7em 0 2% 3%;
}

@media screen and (max-width: 1173px) {
  .nav_links__button {
    margin: 1% 7px;
  }

  .nav_links__button-fourth {
    width: 828px;
  }

  .nav_links__item-fourth {
    padding-top: 38%;
  }
}
@media screen and (max-width: 1030px) {
  .nav_links .nav_links__button-second {
    display: none;
  }

  .nav_links .nav_links__button-third {
    display: none;
  }

  .nav_links {
    justify-content: center;
    margin: 6% auto;
  }

  .nav_link__container {
    display: flex;
  }

  .nav_links__button img {
    width: 100%;
    height: auto;
  }

  .nav_links__button-first {
    width: 825px;
  }

  .nav_links__button-second {
    width: 35%;
  }

  .nav_links__button-third {
    width: 52%;
  }

  .nav_links__button-fourth {
    width: 825px;
  }

  .nav_links__item-first {
    padding: 27% 0 5% 5%;
  }

  .nav_links__item-second {
    padding: 70% 0 8% 12%;
  }

  .nav_links__item-third {
    padding: 38% 0 5% 5%;
  }

  .nav_links__item-fourth {
    padding: 35% 0 5% 5%;
  }
}
@media screen and (max-width: 1024px) {
  .nav_links {
    width: 89%;
  }
}
@media screen and (max-width: 880px) {
  .nav_links__button {
    margin: 1%;
  }

  .nav_links__button-first, .nav_links__button-fourth {
    width: 90%;
  }

  .nav_link__container {
    width: 92%;
  }

  .nav_links__item {
    font-size: 23px;
  }

  .nav_links__item-first {
    padding: 30% 0 3% 5%;
  }

  .nav_links__item-second {
    padding: 76% 0 5% 12%;
  }

  .nav_links__item-third {
    padding: 44% 0 3% 5%;
  }

  .nav_links__item-fourth {
    padding: 39% 0 2% 5%;
  }
}
@media screen and (max-width: 750px) {
  .nav_links__item {
    font-size: 3vw;
  }

  .nav_links__item-first {
    padding-top: 30%;
    padding-bottom: 3%;
  }

  .nav_links__item-second {
    padding-top: 75%;
  }

  .nav_links__item-third {
    padding-top: 43%;
  }

  .nav_links__item-fourth {
    padding-bottom: 3%;
  }
}
@media screen and (max-width: 736px) {
  .nav_links__item-fourth {
    padding-left: 4%;
  }
}
.benefits {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 83%;
}

.benefits__header {
  font-family: Roboto, sans-serif;
  font-size: 27px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
  text-align: center;
  margin: 4% 0 5% 0;
}

.benefits__container {
  display: flex;
  justify-content: space-between;
}

.benefits__right-block {
  width: 44%;
}

.benefits__left-block {
  padding-left: 2%;
}

.benefits__item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.benefits__svg {
  height: 5.5em;
  width: 5.5em;
}

.benefits__text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #00a890;
  margin-left: 28px;
  width: 77%;
}

@media screen and (max-width: 1024px) {
  .benefits__right-block {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .benefits__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .benefits__block {
    width: 410px;
  }
}
@media screen and (max-width: 600px) {
  .benefits__header {
    font-size: 18px;
  }

  .benefits__svg {
    font-size: 10px;
  }

  .benefits__text {
    font-size: 17px;
    margin: 1% 0 1% 5%;
  }
}
@media screen and (max-width: 480px) {
  .benefits__block {
    padding-left: 2%;
  }
}
@media screen and (max-width: 375px) {
  .benefits__header {
    font-size: 16px;
  }

  .benefits__svg {
    font-size: 8px;
  }

  .benefits__text {
    font-size: 14px;
  }
}
.cooperate {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #00a890;
  text-align: center;
  margin: 6% auto 8% auto;
  line-height: 1.4;
  width: 36em;
}

@media screen and (max-width: 1300px) {
  .cooperate {
    font-size: 2vw;
  }
}
@media screen and (max-width: 1300px) {
  .cooperate {
    width: 38em;
  }
}
@media screen and (max-width: 800px) {
  .cooperate {
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 800px) {
  .cooperate {
    width: 37em;
  }
}
@media screen and (max-width: 480px) {
  .cooperate {
    width: 26em;
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 400px) {
  .cooperate {
    font-size: 12px;
    width: 90%;
  }
}
.banner {
  background: url("../img/homepage/logo_on_green.jpg") no-repeat left;
  background-size: contain;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.banner__logo {
  position: absolute;
  left: 5%;
  bottom: 9%;
}

.banner__text {
  font-family: Roboto, sans-serif;
  font-size: 33px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.4;
  position: absolute;
  left: 18%;
  bottom: 20%;
  width: 13em;
}

@media screen and (max-width: 1350px) {
  .banner__text {
    left: 14%;
  }
}
@media screen and (max-width: 1250px) {
  .banner__text {
    font-size: 25px;
  }
}
@media screen and (max-width: 1180px) {
  .banner__text {
    font-size: 22px;
  }
}
@media screen and (max-width: 1150px) {
  .banner__photo {
    height: auto;
    width: 55%;
  }

  .banner__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 800px) {
  .banner__photo {
    width: 50%;
  }

  .banner__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 667px) {
  .banner__text {
    bottom: 8%;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    margin: 15% 5% 0 5%;
    background: none;
  }

  .banner__photo {
    width: 100%;
  }

  .banner__text {
    bottom: 100%;
    font-size: 2.8vw;
    left: 10%;
    text-align: center;
    width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .banner {
    margin-top: 22%;
  }

  .banner__text {
    font-size: 3.5vw;
    left: 5%;
    width: 90%;
  }
}
.line {
  border: none;
  border-bottom: 4px dotted #00a890;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: -1;
}

.steps {
  margin-bottom: 6%;
  position: relative;
}

.steps__header {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1px;
  color: black;
  margin: 7% 0 5% 0;
  text-align: center;
}

.steps__container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 81%;
}

.steps__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__text {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #00a890;
  text-align: center;
  margin-top: 5%;
  width: 8em;
}

.steps__text-four {
  width: 7.5em;
}

.steps__svg {
  background-color: white;
}

@media screen and (max-width: 1300px) {
  .line {
    top: 52%;
  }
}
@media screen and (max-width: 1200px) {
  .line {
    top: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .steps {
    margin-bottom: 9%;
  }

  .steps__svg {
    height: 68px;
    width: 68px;
  }

  .steps__text {
    font-size: 19px;
  }

  .line {
    top: 53%;
  }

  .steps__header {
    font-size: 27px;
  }

  .partners__text {
    font-size: 27px;
  }
}
@media screen and (max-width: 1000px) {
  .line {
    top: 48%;
  }
}
@media screen and (max-width: 900px) {
  .steps__header {
    font-size: 22px;
  }

  .line {
    display: none;
  }

  .steps__container {
    flex-direction: column;
  }

  .steps__svg {
    height: 38px;
    width: 38px;
  }

  .steps__text {
    font-size: 18px;
    margin-top: 1%;
  }
}
@media screen and (max-width: 480px) {
  .partners__text {
    font-size: 22px;
  }
}
@media screen and (max-width: 400px) {
  .steps__header {
    font-size: 18px;
  }

  .steps__text {
    font-size: 16px;
  }

  .partners__text {
    font-size: 18px;
  }

  .footer__contact, .footer__address, .footer__link {
    font-size: 14px;
  }
}

/*# sourceMappingURL=index.css.map */
