@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
  src: url("../fonts/Roboto-Blackitalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  src: url("../fonts/Roboto-Bolditalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Italic.ttf") format("ttf");
  src: url("../fonts/Roboto-Light.ttf") format("ttf");
  src: url("../fonts/Roboto-Lightitalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  src: url("../fonts/Roboto-Mediumitalic.ttf") format("ttf");
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  src: url("../fonts/Roboto-Thin.ttf") format("ttf");
  src: url("../fonts/Roboto-Thinitalic.ttf") format("ttf");
  font-display: swap;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3% 0 5%;
  height: 135px;
}

.logo, .contact__phone {
  display: flex;
  align-items: center;
  padding-top: 1%;
}

.logo__text {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: 10%;
}

.contacts__address-svg, .contact__email-svg {
  position: relative;
  top: 2px;
}

.contact__mail_address, .contact__email {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -1px;
}

.contact__link {
  color: black;
  text-decoration: none;
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__phone {
  padding: 0;
  width: 22em;
}

.contact__phone_number {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 4%;
}

.header__nav_wrapper {
  background-color: #393031;
  display: flex;
  justify-content: flex-end;
  padding-right: 12%;
}

.header__nav-mobile {
  display: none;
  background-color: #148778;
  position: absolute;
  top: 0;
  left: -40%;
  transition: all ease-in 0.2s;
  height: 0;
  width: 120px;
  z-index: 2;
}

.show {
  display: block;
  left: 2%;
  padding: 6% 2% 7% 3%;
  height: 330px;
}

.header__nav-arrow {
  background: none;
  fill: #148778;
  position: absolute;
  left: 155%;
  top: 0;
  transition: all ease-in 0.2s;
  z-index: 100;
}

.header__list_item-mobile {
  display: block;
  opacity: 0;
  list-style: none;
  transition: all ease-in 0.2s;
}

.on {
  display: block;
  opacity: 1;
  margin-top: 20px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  height: 43px;
  width: 840px;
}

.header__list_item {
  line-height: 50px;
  list-style: none;
  text-align: center;
  width: 40%;
}

.header__sub_list_item {
  line-height: 1.2;
  margin-top: 15px;
  text-align: left;
  width: 100%;
}

.header__link:hover {
  color: gray;
}

.header__nav_production {
  background-color: #393031;
  display: none;
  padding-right: 5%;
  padding-bottom: 3%;
  position: absolute;
  top: 90%;
  left: 39%;
  z-index: 1;
}

.have_a_submenu:hover + .header__nav_production {
  display: block;
}

.header__nav_production:hover {
  display: block;
}

.header__link {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -1px;
  color: white;
  text-decoration: none;
}

.header__media {
  position: relative;
}

.header__text {
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: 0;
  position: absolute;
  bottom: 31%;
  left: 20%;
  text-shadow: 2px 2px 2px gray;
}

.header__image {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .logo__svg {
    width: 21em;
    font-size: 1.2vw;
  }

  .contacts {
    margin: 0;
  }

  .contact__mail_address, .contact__email {
    font-size: 1.6vw;
  }

  .contact__phone {
    font-size: 1.5vw;
    justify-content: flex-end;
    width: 17em;
  }

  .contact__phone_svg {
    width: 5.3vw;
  }

  .contact__phone_number {
    font-size: 2.2vw;
  }
}
@media screen and (max-width: 1100px) {
  .header__nav_wrapper {
    justify-content: center;
    padding: 0 2% 0 7%;
  }
}
@media screen and (max-width: 900px) {
  .contact__mail_address, .contact__email {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 855px) {
  .header__media {
    position: relative;
    top: -5px;
    background: url("../img/contacts/header_img_mobile.jpg") no-repeat center;
    background-size: contain;
    font-size: 5.1vw;
    height: 6.91em;
    z-index: -1;
  }

  .header__image {
    display: none;
  }

  .header__text {
    color: white;
    bottom: 15%;
  }
}
@media screen and (max-width: 800px) {
  .header__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 780px) {
  .contact__mail_address, .contact__email {
    font-size: 14px;
  }
}
@media screen and (max-width: 680px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .logo__svg {
    width: 21em;
    font-size: 14px;
  }

  .contact__phone {
    font-size: 15px;
    justify-content: flex-end;
    width: 12em;
  }

  .contact__phone_number {
    font-size: 15px;
  }
}
@media screen and (min-width: 601px) {
  .header__nav-mobile {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }

  .header__nav-mobile {
    display: block;
  }

  .header__list_item {
    display: none;
  }

  .header__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 530px) {
  .header__nav-arrow {
    left: 140%;
  }
}
@media screen and (max-width: 460px) {
  .header__nav-arrow {
    left: 122%;
  }
}
@media screen and (max-width: 410px) {
  .header {
    align-items: flex-end;
    padding: 0 1% 0 1%;
  }

  .logo__svg {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .header__nav-arrow {
    position: absolute;
    left: 95%;
    top: 0;
  }
}
@media screen and (max-width: 285px) {
  .header__nav-arrow {
    position: absolute;
    left: 81%;
    top: 0;
  }

  .logo__svg {
    font-size: 8px;
  }

  .contact__mail_address, .contact__email {
    font-size: 12px;
  }
}
.header__nav-arrow-open {
  background-color: #148778;
  fill: white;
  left: 71%;
  top: 5%;
  transform: rotate(180deg);
}

.partners__text {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0 0 2% 0;
  text-align: center;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2% auto;
  width: 90%;
}

.partners__svg {
  margin: 2% 1%;
}

@media screen and (max-width: 855px) {
  .partners__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 60px) {
  .partners__text {
    font-size: 14px;
  }
}
.price_download {
  background-color: #e8e4e3;
  height: 140px;
  margin-bottom: 3%;
  position: relative;
}

.price_download__color_line {
  position: absolute;
  top: -5px;
  width: 100%;
}

.price_download__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
}

.price_download__text {
  font-family: Roboto, sans-serif;
  font-size: 29px;
  font-weight: 400;
  letter-spacing: -1px;
  color: #3b6a60;
  margin-right: 3%;
}

.price_download__button {
  font-family: Roboto, sans-serif;
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
  background: #d67514;
  background: linear-gradient(180deg, #d67514 50%, #b23a2c 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 1px 8px 12px grey;
  color: white;
  cursor: pointer;
  transition: all ease-in 0.1s;
  height: 60px;
  width: 345px;
}

.price_download__button:hover {
  transform: scale(1.02);
  box-shadow: 3px 8px 8px grey;
}

.price_download__button:active {
  transform: scale(0.98);
  box-shadow: 3px 3px 3px grey;
}

@media screen and (max-width: 1050px) {
  .price_download {
    background-color: #e8e4e3;
    height: auto;
    padding: 0 0 5% 0;
    margin-bottom: 3%;
  }

  .price_download__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .price_download__text {
    margin: 3% 0 3% 0;
  }
}
@media screen and (max-width: 700px) {
  .price_download__container {
    height: unset;
  }

  .price_download__text {
    font-size: 4vw;
  }

  .price_download__button {
    font-size: 3.3vw;
    padding: 2% 5%;
    height: unset;
    width: unset;
  }
}
@media screen and (max-width: 500px) {
  .price_download__container {
    padding: 0 2%;
  }

  .price_download__text {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .price_download__text {
    font-size: 16px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #393031;
  margin-top: 4%;
}

.footer__left {
  margin-left: 7%;
}

.footer__company_name {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -1px;
  color: white;
  line-height: 1.5;
  width: 20em;
  margin-left: 4%;
  margin-bottom: 7%;
}

.footer__nav_menu {
  padding: 0;
}

.footer__nav_menu-left {
  margin-left: 6%;
  line-height: 1.4;
}

.footer__item {
  list-style: none;
}

.footer__link {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__nav_menu-center {
  margin-top: 10%;
  line-height: 1.4;
}

.footer__right {
  margin-right: 10%;
}

.footer__contact_data {
  margin-left: 15%;
  width: 15em;
}

.footer__address, .footer__contact {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  color: white;
}

.footer__contact {
  margin: 12% 0 0 0;
}

.footer__address {
  position: relative;
  margin: 2% 0 1% 0;
  line-height: 1.4;
}

.sign {
  position: absolute;
  top: 3%;
  left: -10%;
}

.footer__email {
  position: relative;
  margin: 0 0 1% 0;
}

.mail-sign {
  position: absolute;
  top: 26%;
  left: -11%;
}

.footer__phone {
  position: relative;
  margin: 0 0 0 0;
}

.phone-sign {
  position: absolute;
  top: 3%;
  left: -10%;
}

@media screen and (max-width: 1150px) {
  .footer {
    justify-content: center;
    padding: 0 5% 5% 5%;
  }

  .footer__left {
    margin: 0;
  }

  .footer__company_name {
    width: 12em;
  }

  .footer__center {
    margin-left: 10%;
  }

  .footer__right {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media screen and (max-width: 641px) {
  .footer__contact_data, .footer__company_name, .footer__nav_menu-left, .footer__center {
    margin-left: 0;
  }
}
@media screen and (max-width: 565px) {
  .footer {
    justify-content: flex-start;
    padding-left: 28%;
  }

  .footer__center {
    margin-right: 6%;
  }

  .footer__right {
    margin-left: 0;
  }

  .footer__item {
    margin-top: 5%;
  }

  .footer__contact_data {
    font-size: 4vw;
  }

  .footer__company_name, .footer__link, .footer__contact, .footer__address {
    font-size: 4vw;
  }

  .footer_svg {
    width: 4vw;
  }
}
body {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

@media screen and (max-width: 855px) {
  .header__media {
    background: center/contain url("../img/production/related_products/header_img_mobile.jpg") no-repeat;
  }
}
.header__text {
  left: 14%;
  bottom: 31%;
  text-align: center;
}

.related {
  display: flex;
  align-items: center;
  width: 71%;
  margin: 5% auto;
}

.related__image {
  height: auto;
  width: 25%;
}

.related__text_container {
  margin: 0 0 5% 5%;
}

.related__text {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
}

.related-third {
  margin-left: 12%;
}

.third {
  margin-left: 8%;
}

.related-fourth {
  margin-left: 11%;
}

.fourth {
  margin-left: 10%;
}

@media screen and (max-width: 1100px) {
  .header__text {
    font-size: 2.63vw;
  }

  .related__image {
    height: auto;
    width: 21vw;
  }
}
@media screen and (max-width: 855px) {
  .header__media {
    height: 6.84em;
    top: -1px;
  }

  .header__text {
    font-size: 3.5vw;
    bottom: 5%;
  }
}
@media screen and (max-width: 700px) {
  .related {
    width: 90%;
  }

  .second {
    margin-left: 8%;
  }

  .related-third {
    margin-left: 5%;
  }

  .third {
    margin-left: 8%;
  }

  .related-fourth {
    margin-left: 5%;
  }

  .related__text_container {
    margin: 0 0 5% 8%;
  }
}
@media screen and (max-width: 600px) {
  .header__media {
    top: 1px;
  }

  .header__text {
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
  }

  .related__image {
    width: 30%;
  }

  .price_download__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .related__text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=related_products.css.map */
