@import "fonts";
@import "variables";
@import "header.scss";
@import "partners";
@import "price_download";
@import "footer";

html {
  touch-action: manipulation;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}