@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Black.ttf") format('ttf');
  src: url("../fonts/Roboto-Blackitalic.ttf") format('ttf');
  src: url("../fonts/Roboto-Bold.ttf") format('ttf');
  src: url("../fonts/Roboto-Bolditalic.ttf") format('ttf');
  src: url("../fonts/Roboto-Italic.ttf") format('ttf');
  src: url("../fonts/Roboto-Light.ttf") format('ttf');
  src: url("../fonts/Roboto-Lightitalic.ttf") format('ttf');
  src: url("../fonts/Roboto-Medium.ttf") format('ttf');
  src: url("../fonts/Roboto-Mediumitalic.ttf") format('ttf');
  src: url("../fonts/Roboto-Regular.ttf") format('ttf');
  src: url("../fonts/Roboto-Thin.ttf") format('ttf');
  src: url("../fonts/Roboto-Thinitalic.ttf") format('ttf');
  font-display: swap;
}

@mixin fonts($size: 20px,$weight: 400, $ls: -1px) {
  font-family: Roboto, sans-serif;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $ls;
}