.partners {

}

.partners__text {
  @include fonts(28px,400,0);
  margin: 0 0 2% 0;
  text-align: center;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2% auto ;
  width: 90%;
}

.partners__svg {
  margin: 2% 1%;
}

.partners__svg-size {
  width: 110px;
}

@media screen and (max-width: 855px) {
  .partners__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 60px) {
  .partners__text {
    font-size: 14px;
  }
}