
.price_download {
  background-color: #e8e4e3;
  height: 140px;
  margin-bottom: 3%;
}

.price_download__color_line {
  position: relative;
  top: -9px;
  width: 100%;
}

.price_download__container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.price_download__text {
  @include fonts(29px);
  color: $main_text;
  margin-right: 3%;
}

.price_download__button {
  @include fonts(23px, 600, 0);
  background: rgb(214, 117, 20);
  background: linear-gradient(180deg, rgba(214, 117, 20, 1) 50%, rgba(178, 58, 44, 1) 100%);
  border: none;
  border-radius: 20px;
  box-shadow: 1px 8px 12px grey;
  color: $white_text;
  cursor: pointer;
  transition: all ease-in 0.1s;
  height: 60px;
  width: 345px;
}

.price_download__button:hover {
  transform: scale(1.02);
  box-shadow: 3px 8px 8px grey;
}

.price_download__button:active {
  transform: scale(0.98);
  box-shadow: 3px 3px 3px grey;
}

@media screen and(max-width: 1050px) {
  .price_download {
    background-color: #e8e4e3;
    height: auto;
    padding: 0 0 5% 0;
    margin-bottom: 3%;
  }

  .price_download__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .price_download__text {
    margin: 3% 0 3% 0;
  }
}

@media screen and (max-width: 700px) {
  .price_download__text {
    font-size: 4vw;
  }

  .price_download__button {
    font-size: 3.5vw;
    padding: 3%;
    height: unset;
    width: unset;
  }
}
