@import "common";

@media screen and (max-width: 855px) {
  .header__media {
    background: center/contain url("../img/production/abrasives/header_img_mobile.jpg") no-repeat;
  }
}


.description {
  margin: 0 auto;
  width: 70%;
}

.description__text {
  @include fonts(24px,400,0);
  line-height: 1.6;
  margin-bottom: 4%;
}

.card {
  display: flex;
  align-items: center;
  margin: 7% auto 0 auto;
  position: relative;
  width: 70%;
}
.card:last-child {
  margin-bottom: 10%;
}

.card__img {
  position: absolute;
  top: 0;
}

.card__container {
  margin-left: 27%;
}

.card__logo {
  height: 19px;
}

.card__header {
  @include fonts(24px, 700, 0);
}

.card__text {
  @include fonts(24px,400,0);
  line-height: 1.5;
}















@media screen and (max-width: 855px) {
  .header__media {
    font-size: 5.1vw;
    height: 6.98em;
    top: 0;
    z-index: -1;
  }

  .header__text {
    bottom: 3%;
    font-size: 3.5vw;
  }

  .price_download__color_line {
    display: none;
  }
}


@media screen and (max-width: 600px){
  .header__media {
    top: 1px;
  }

  .header__text {
    font-size: 20px;
    text-shadow: 2px 2px 3px black;
  }

  .price_download__text {
    font-size: 20px;
  }
}